
  .navbar{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0; 
    /* padding: 60px 100px; */
    background: rgb(237,240,235);
    height: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 100;
    margin-bottom: 500px;
    /* @media (min-width:768px) {
       max-width: 100%  
    } */
  }

  .flex-icon{
     display:flex;
    flex-direction: column;
    text-align: center
  }

  .profileImg{
    width:50px;
    height: 50px;
    text-align: center;

  }
  .flexProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    @media (min-width:481px) and (max-width:767px) {
        display: none; 
    }

    @media (max-width:480px) {
       display: none; 
    }
    
  }
  .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    @media  (max-width:480px) {
        height: 30%;
    }
}

.logo {
    font-family: "Poppins";
    margin-top: -20px;
     height:100px;
     width:100px;
     @media  (max:480px) {
    width: 200px;
    height: 200px
    }


    
     /* line-height: 52px ; */
  

    
}

.SignUp{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 10px;
    margin-left: 60px;
   
    
}  
.SignIn{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #1A512E;
    border-radius: 10px;
    border: 1px solid;
    margin-right: -20px;
    /* margin-bottom: 20px; */
   
   
    
}
.SignUp:hover{
    background-color: #1a512e9f;
}

.Logout{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 10px;
    margin-left: 60px;
    @media (max-width:480px) {
       margin-inline: auto;  
      
    }
   
    
}  
.Logout:hover{
    background-color: #1a512e9f;
}

    

.hamburger{
    cursor: pointer;
    width:34px;
    height: 34px;
    transition: all, 0.25s;
    position: relative; 
    font-size: 40px;
    @media (min-width:200px) and (max-width:576px) {
        display: block;  
                
    padding-left: 60px;
    color: #1A512E;
    padding-left: -100px;
        
      }

    
}
.mobileView{
    display: none;

}
.backVideo{
    position: absolute;
    bottom:0;
    z-index: -1;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}
.selectBtnContainer{
    margin-top: 20px;
}
.selectBtn{
    background-color: rgb(24,32,74);
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 30px;
  
    margin-bottom: 20px;
  
   
    
}
.selectBtn1{
    background-color:#fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color:rgb(24,32,74); 
    border-radius: 30px;
    border: 1px solid;
    margin-bottom: 20px;  
    
}
.selectBtn2{
    background-color: rgb(24,32,74);
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 10px;  
    margin-bottom: 20px;
    
}
.formwrapper{
 position: relative;
}
.inputBtn{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    outline: none;    
}
.search{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 150px;
    top:25px
}


@media (max-width:768px){
/*  */

}

.dropdown_link{
    text-decoration: none;
    color:#fff;
    
    
}

.dropdown {
    display: none;
}

.cancel_link {
    text-decoration: none;
    
    
}

.dropdown_link:hover{
    background-color: gray;
    color:#fff;
}

.menu { 
background-color: #0c4a24;
color:#fff;
border: 3px solid gray;
border-radius: 10px;
margin: auto;
width: 200px;
height: 100px;



}

.menu:hover{
    background-color: #0c4a24;
    transform: scale(1.2);
    color: #ffff;
    width: 200px;
    height: 100px;
    
}


@media (min-width:480px){

   /* .backVideo{
    display: ;
   }  */
   .navbar{
    width: 100%;
    padding: 0 0px;
    

   }
   .signup{
    margin: 0;
    padding: 30px;
   }

   .hamburger{
    margin-left: 60px;
    color: #1A512E;
  
}
/* .logo{
    margin-left: -50px;
} */
}
